.Natlabel{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: bold;
  width: 100%;
  text-align: center;
}
.sincampo{
    pointer-events: none;
    background: #dddddd;
 } 